.carOffer {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 390px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgba(20, 35, 85, 0.1);
}

.carOffer__image > img {
  object-fit: cover;
  object-position: top;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.carOffer__more {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
.carOffer__more > ul {
  display: flex;
  justify-content: center;
  margin: 6px;
  padding: 0;
}

.carOffer__more > ul > li {
  list-style: none;
  padding: 0 10px;
  color: rgb(184, 184, 184);
}
.carOffer__more > ul > li > span {
  font-size: 14px;
}

.carOffer__price {
  text-align: center;
  font-size: 22px;
}

.carOffer__price > p > span > small {
  color: gold;
}

p {
  margin: 8px;
}
